html, body
{
     width: 100%;
     height: 100%;
}

body{
     background-color: white;
     color: darkgray;
     font-family: Century;
     font-size: 14px;
}
  

a{
    color: #774c2a;
}

a:hover
{
     text-decoration:none; 
}

/*================================= HEADER ==================================*/

h1{     
     font-family: Century Gothic;
     font-size: 20px;
     font-weight: normal;
     color: gray;
     letter-spacing: 3px;
     padding: 20px;
     text-align: center;
     text-transform: uppercase;
}

#subtitle {
     color: gray;
     font-family: Century;
     font-size: 10px;
     font-weight: normal;
     padding-top: 0;
     text-align: center;
     border-bottom: 2px dashed goldenrod;

}

iframe{
     width: 100%;
     height: 100%;
     border: 0;
}

.parent{
     width: 100%;
     height: 100%;
     margin:0 auto;
}

#page.clicked {
     display: inline-block;
     height: 100%;
     right: 0;
     position: fixed;     
     width: calc(100% - 404px);
     margin-left:400px;
     
    -webkit-transition:1s;
}

#page
{   
     height: 100%;
     width: 100%;
     margin-left:0px;

    -webkit-transition:1s;
}
/*======================================= HAMBERGER MENU ========================================*/
nav
{
     display: inline-block;
     left: 0;
     height: 100%;
     margin-left:-400px;
     position: fixed;
     width: 400px;

    -webkit-transition:1s;

}

nav.clicked
{
    margin-left:0px;
}

#hamberger
{
     display: block;
     left: 40px;
     position: absolute;
     top: 40px;
     
     cursor: pointer;
     border-radius: 1px;
     z-index: 1;
}

#hamberger span, #hamberger span:before, #hamberger span:after
{
  cursor: pointer;
  border-radius: 50px;
  height: 5px;
  width: 35px;
  background: gray;
  position: absolute;
  display: block;
  content: '';
}

#hamberger span:before
{
  top: -10px; 
}
#hamberger span:after
{
  bottom: -10px;
}

#hamberger span, #hamberger span:before, #hamberger span:after
{
  transition: all 500ms ease-in-out;
}
#hamberger.active span {
  background-color: transparent;
}

#hamberger.active span:before, #hamberger.active span:after
{
  top: 0;
}

#hamberger.active span:before
{
  transform: rotate(45deg);
}

#hamberger.active span:after
{
  transform: rotate(-45deg);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
     width: 100%;
     height: 100%;
     padding: 50px;
     padding-top: 70px;
     
     background: #ededed;
     opacity: 80%;
     list-style-type: none;
}

#menu li
{
     margin: 20px 0;
     font-size: 15px;
     text-transform: uppercase;
}

#menu a
{
     color: darkgray;
     -webkit-transition: color 0.4s ease;
     -moz-transition: color 0.4s ease;
     -o-transition: color 0.4s ease;
     transition: color 0.4s ease;
}

#footer{
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
     background: white;
     padding: 5px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/*============================== MEDIA QUERIES ==============================*/

@media only screen and (max-width: 414px) {
     h1
     {
          padding: 0 10px;
     }
     
     #menuToggle
     {
          top: 20px;
          left: 20px;
     }
     
     .nav
     {
          position: absolute;
          z-index: 1;
     }
     
     .nav
     {
          width: 100%;
     }
     
     .page
     {
          height: 100%;
     }
     
     #hamberger
     { 
          left: 10px;
          top: 20px;
     }
}